body {
    color:rgb(117, 0, 0);
    background:rgb(209, 175, 175);
    margin: 0px;
    font-family: "Pacifico", cursive;
}

header {
    border-bottom: solid 5px rgb(148, 6, 6);
    padding: 10px;
    font-size: 20px;
    color: red;
}

section {
    background: rgb(253, 165, 165);
    padding-bottom: 55px;
    padding-top: 55px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 15px;
}